@model List<DataLayer.Product>

@{
    ViewBag.Title = "آرشیو محصولات";
}

<section class="last-products">
    <header><h3>  آرشیو محصولات </h3></header>
    <article>
        @foreach (var item in Model)
        {
            @Html.Partial("_Product", item)

        }

        <div class="clearfix"></div>
    </article>
</section>
@if (ViewBag.PageCount > 0)
{
    <div class="pagination-layer">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.PageCount; i++)
            {
                <li><a onclick="changePage(@i)">@i</a></li>
            }
        </ul>
    </div>
}


@section Archive{
    @Html.Partial("FilterArchive")
}
<script>
    function changePage(pageId) {
        $("#pageId").val(pageId);
        $("#filterForm").submit();
    }
</script>